
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link fw-bolder text-white" routerLink="/principal">Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder text-white" routerLink="/registro">Docentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder text-white"  routerLink="/contactenos">Contactenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder text-white" routerLink="/horarios">Horarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder text-white" routerLink="/cursos">Cursos</a>
        </li>
      </ul>
    </div>
  </nav>

  