


<div class="container">
 
<div class="row">
   
    <div class="col-lg-5 mb-4">
    
      <div class="card bg-info">
        <div class="card-body">
       
          <div>
            <h3> Escribenos</h3>
          </div>
          <p>Llena el formulario para contactarnos!</p>
          <br>
      
          <div>
            <label>Nombre</label>
            <input type="text" class="form-control ">
          </div>
          <div>
            <label>Correo</label>
            <input type="text" class="form-control">
          </div>
          <div>
            <label>Asunto</label>
            <input type="text" class="form-control">
          </div>
          <div>
            <label>Descripcion</label>
            <textarea class="form-control md-textarea" rows="3"></textarea>
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
      

    </div>

    <div class="col-lg-7">

      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15666.301449301265!2d-74.7909976!3d10.9953899!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b195f6bb10f7ede!2sCUL%20CORPORACION%20UNIVERSITARIA%20LATINOAMERICANA!5e0!3m2!1ses!2sco!4v1631913406266!5m2!1ses!2sco"
          style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>


      <br><br><br>
    
      <div class="row text-center">
        <div class="col-md-4">

          <p><a href="https://es.wikipedia.org/wiki/Barranquilla">Barranquilla</a>, Cl.58#55-24A,</p>
          <p>Colombia</p>
        </div>

        <div class="col-md-4">

          <p>+57 32222222</p>
          <p>lunes a Sabado, 8:00-21:00</p>
        </div>

        <div class="col-md-4">
          <p>info@gmail.com</p>
          <p class="bg-info"> <a href="https://www.ul.edu.co/" target="_blank" >  ul.edu.co/</a></p>
        </div>
      </div>

    </div>
  </div>