



    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/cul4.png" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/cul3.png" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/cul2.jpg" class="d-block w-100" >
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>

    

      <div class="container">

    <br><br><br><br>
    <div class="row">
        <div class="col-lg-8 ">
            <img src="../../../assets/img/cul1.0.png" width="800px">

        </div>

        <div class="col-lg-4 bg-light border border-primary">
            <p class="fw-bolder "> <a href="https://es.wikipedia.org/wiki/Corporaci%C3%B3n_Universitaria_Latinoamericana"> La Institucion Tecnologica del Caribe Colombiano (ITCC)</a> es una institución de educación superior situada en
                la ciudad de Barranquilla, Colombia.</p>
            <p>​ La universidad cuenta con el reconocimiento oficial por parte del Ministerio de Educación de Colombia,
                quien otorgó la licencia de funcionamiento el 30 de abril de 1980.</p>
            <p>La Institucion Tecnologica del Caribe Colombiano fue pionera de las carreras técnicas vanguardistas en la ciudad de
                Barranquilla en la década de los años 1990.​

                Los miembros fundadores de la  Institucion Tecnologica del Caribe Colombiano son Reinaldo Escluza,
               Omar Salcedo Y Orvin Reid </p>

        </div>


    

    </div>








</div>