<form >
    <img src="../../../assets/img/logo.png" class="rounded mx-auto d-block" height="150px">
<div class="container mt-5 mb-5 d-flex justify-content-center">
    
    <div class="card px-1 py-4">
        <div class="card-body">
            <h6 class="card-title mb-3 text-center fw-bolder"></h6>
            <div class="d-flex flex-row"> 
            <label class="radio mr-1"> <input type="radio" name="add" value="anz" checked> <span class="text-center"> <i class="fa fa-user"></i>ADMINISTRADOR </span> </label> </div>
            <h6 class="information mt-4"></h6>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                         <input class="form-control" type="text" placeholder="Usuario"> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" placeholder="Id" > </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="password" placeholder="Contraseña"> </div>
                    </div>
                </div>
            </div>
            <div class=" d-flex flex-column text-center px-5 mt-3 mb-3">   <button class="btn btn-primary btn-block confirm-button"  routerLink="/entradas" >Aceptar</button></div>
        </div>
    </div>
</div>

</form>